@use "../../utils/colors.scss" as color;
@use "../../utils/vars.scss" as vars;
@use "../../utils/mixins.scss" as mix;

.clinical-memory {
  padding: {
    top: vars.$section-padding;
    bottom: vars.$section-padding;
  }
  border-radius: 48px;
  overflow: hidden;
  @include mix.flex(
    column,
    $justify: flex-start,
    $align: flex-start,
    $gap: 40px,
    $wrap: nowrap
  );

  &-badge {
    @include mix.badge();
  }

  &-content {
    @include mix.flex(
      column,
      $justify: flex-start,
      $align: flex-start,
      $gap: vars.$spacing-lg,
      $wrap: nowrap
    );
    max-width: 600px;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vars.$spacing-lg;
    width: 100%;
  }

  &-card {
    @include mix.gradient-card();
    @include mix.flex(
      column,
      $justify: center,
      $align: center,
      $gap: 0,
      $wrap: nowrap
    );
    padding: 32px vars.$spacing-lg;
    border-radius: 16px;
    text-align: center;

    & .p1-medium {
      color: color.$purple-light;
    }
  }

  &-caption {
    color: color.$purple-light;
    width: 100%;
    text-align: left;
  }

  @media (max-width: vars.$breakpoint-mobile) {
    gap: 24px;
    padding: {
      top: vars.$section-padding-mobile;
      bottom: vars.$section-padding-mobile;
    }
    &-grid {
      grid-template-columns: 1fr;
    }
    &-content {
      gap: 16px;
    }
    &-card {
      padding: 16px;
      align-items: start;
    }
  }
}
