@use "../utils/colors.scss" as color;
@use "../utils/func.scss" as func;
@use "../utils/vars.scss" as vars;

.about {
  padding: {
    top: 120px;
    bottom: 120px;
  }

  &-inner {
    @include func.flex(row, $justify: flex-start, $align: center, $gap: vars.$spacing-lg, $wrap: nowrap);
  }

  &-text {
    @include func.flex(column, $justify: flex-start, $align: flex-start, $gap: 40px, $wrap: nowrap);
    flex: 1;
  }

  &-badge {
    border-radius: vars.$rounded;
    background-color: rgba(color.$purple-light, 0.1);
    padding: {
      top: 6px;
      bottom: 6px;
      left: vars.$spacing-md;
      right: vars.$spacing-md;
    }
  }

  &-content {
    @include func.flex(column, $justify: flex-start, $align: flex-start, $gap: vars.$spacing-lg, $wrap: nowrap);
    max-width: 520px;
  }

  &-quote {
    border-left: 1px solid color.$purple-light;
    padding-left: vars.$spacing-md;
    @include func.flex(column, $justify: flex-start, $align: flex-start, $gap: 4px, $wrap: nowrap);

    p {
      color: color.$purple-light;
    }
  }

  &-cards {
    @include func.flex(row, $justify: flex-start, $align: center, $gap: vars.$spacing-lg, $wrap: nowrap);
    flex: 1;
  }

  &-card {
    @include func.flex(column, $justify: flex-start, $align: center, $gap: vars.$spacing-lg, $wrap: nowrap);
    flex: 1;
    height: 428px;
    background: linear-gradient(to right, rgba(color.$navy, 0.1), rgba(color.$purple, 0.1));
    border-radius: vars.$spacing-md;
    padding: vars.$spacing-lg;
    box-shadow: 0 0 12px 0 rgba(color.$purple-light, 0.1);

    &-photo {
      position: relative;
      height: 300px;
      overflow: hidden;
      border-radius: 12px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center;
      }

      &-overlay {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(color.$purple, 0.5);
        border-radius: 12px;
      }
    }

    &-info {
      @include func.flex(column, $justify: center, $align: center, $gap: vars.$spacing-sm, $wrap: nowrap);
    }
  }
}
