@use "../utils/colors.scss" as color;
@use "../utils/vars.scss" as vars;
@use "../utils/mixins.scss" as mix;

.card-grid {
  padding: {
    top: vars.$section-padding;
    bottom: vars.$section-padding;
  }
  @include mix.flex(
    column,
    $justify: center,
    $align: center,
    $gap: 40px,
    $wrap: nowrap
  );

  &-badge {
    @include mix.badge();
  }

  &-content {
    @include mix.flex(
      column,
      $justify: center,
      $align: center,
      $gap: vars.$spacing-lg,
      $wrap: nowrap
    );
    max-width: 800px;
    text-align: center;
  }

  &-cards {
    @include mix.flex(
      row,
      $justify: flex-start,
      $align: stretch,
      $gap: vars.$spacing-lg,
      $wrap: nowrap
    );
    width: 100%;
  }

  &-card {
    @include mix.gradient-card();
    @include mix.flex(
      column,
      $justify: flex-start,
      $align: center,
      $gap: vars.$spacing-md,
      $wrap: nowrap
    );
    flex: 1;
    padding: vars.$spacing-lg;
    border-radius: 16px;
    text-align: center;

    &-title {
      color: color.$purple-light;
      width: 100%;
    }

    &-desc {
      width: 100%;
    }
  }

  @media (max-width: vars.$breakpoint-mobile) {
    padding-top: vars.$section-padding-mobile;
    padding-bottom: vars.$section-padding-mobile;
    gap: 24px;
    align-items: flex-start;

    &-content {
      gap: 16px;
      align-items: flex-start;
      & .h2,
      .p2-regular {
        text-align: start;
      }
    }
    &-cards {
      flex-direction: column;
    }
    &-card {
      gap: 8px;
      padding: 16px;
      & .p1-medium,
      .p3-regular {
        text-align: start;
      }

      &:first-child {
        margin-top: 16px;
      }
    }
  }
}
