@use "../utils/colors.scss" as color;
@use "../utils/vars.scss" as vars;
@use "../utils/mixins.scss" as mix;

.intro {
  padding: {
    top: vars.$section-padding;
    bottom: vars.$section-padding;
  }
  @include mix.flex(
    column,
    $justify: center,
    $align: center,
    $gap: 40px,
    $wrap: nowrap
  );

  &-badge {
    @include mix.badge();
  }

  &-content {
    @include mix.flex(
      column,
      $justify: center,
      $align: center,
      $gap: vars.$spacing-lg,
      $wrap: nowrap
    );
    text-align: center;
    max-width: 800px;
    width: 100%;
  }

  @media (max-width: vars.$breakpoint-mobile) {
    align-items: flex-start;
    gap: 24px;
    padding: {
      top: vars.$section-padding-mobile;
      bottom: vars.$section-padding-mobile;
    }

    &-content {
      gap: 16px;
      align-items: flex-start;

      & .h2,
      .p2-regular {
        text-align: start;
      }
    }
  }
}
