@use "../../utils/colors.scss" as color;
@use "../../utils/vars.scss" as vars;
@use "../../utils/mixins.scss" as mix;

.enterprise {
  padding: {
    top: vars.$section-padding;
    bottom: vars.$section-padding;
  }
  @include mix.flex(row, $align: center, $gap: vars.$spacing-lg, $wrap: nowrap);

  &-text {
    flex: 1;
    @include mix.flex(
      column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 40px,
      $wrap: nowrap
    );
  }

  &-badge {
    @include mix.badge();
  }

  &-content {
    @include mix.flex(
      column,
      $justify: flex-start,
      $align: flex-start,
      $gap: vars.$spacing-lg,
      $wrap: nowrap
    );
    max-width: 520px;
  }

  &-visual {
    width: 648px;
    flex-shrink: 0;
    padding: {
      top: 80px;
      bottom: 80px;
    }
    @include mix.flex(column, $justify: center, $align: center, $wrap: nowrap);
  }

  &-diagram {
    position: relative;
    width: 512px;
    height: 260px;
  }

  &-diagram-node {
    position: absolute;
    background-color: rgba(color.$orange, 0.1);
    border-radius: vars.$rounded;
    padding: {
      top: 6px;
      bottom: 6px;
      left: vars.$spacing-md;
      right: vars.$spacing-md;
    }
    white-space: nowrap;

    &--core {
      background-color: rgba(color.$orange, 0.2);
    }
  }

  &-diagram-line {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);

    &--v {
      width: 1px;
    }

    &--h {
      height: 1px;
    }
  }

  @media (max-width: vars.$breakpoint-mobile) {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 40px;
    align-items: unset;
    &-text {
      gap: 24px;
    }
    &-content {
      gap: 16px;
    }

    &-visual {
      padding: 0;
      width: 100%;
      overflow: hidden;
    }

    &-diagram {
      transform: scale(0.65);
      transform-origin: top;
      margin-bottom: -91px;
    }
  }
}
