@use "../../utils/colors.scss" as color;
@use "../../utils/func.scss" as func;
@use "../../utils/vars.scss" as vars;

.security {
  @include func.flex(
    row,
    $align: center,
    $gap: vars.$spacing-lg,
    $wrap: nowrap
  );
  padding: {
    top: 120px;
    bottom: 120px;
  }

  &-badge {
    background-color: rgba(color.$purple-light, 0.1);
    border-radius: vars.$rounded;
    padding: {
      top: 6px;
      bottom: 6px;
      left: vars.$spacing-md;
      right: vars.$spacing-md;
    }
  }

  &-image {
    flex-shrink: 0;
    width: 648px;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-text {
    @include func.flex(
      column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 40px,
      $wrap: nowrap
    );
    flex: 1;
  }

  &-content {
    @include func.flex(
      column,
      $justify: flex-start,
      $align: flex-start,
      $gap: vars.$spacing-lg,
      $wrap: nowrap
    );
    width: 100%;
  }

  &-list {
    @include func.flex(
      column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 4px,
      $wrap: nowrap
    );
    border-left: 1px solid color.$purple-light;
    padding-left: vars.$spacing-md;
    width: 100%;
    & .p2-medium {
      color: color.$purple-light;
    }
  }

  @media (max-width: vars.$breakpoint-mobile) {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 40px;

    &-text {
      gap: 24px;
    }
    &-content {
      gap: 16px;
    }

    &-image {
      width: 100%;
    }
  }
}
